@charset "UTF-8";

/* 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

@font-face { 
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format(opentype); /*./ é a pasta atual, ../ dai é pasta anterior*/
    font-weight: normal;
}

:root { /* aqui coloca pra tudo.... BIZUUUUU*/
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* { /* Alterações globais para tirar todas as margens e preenchimentos do conteudo*/
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

header {
    background-color: var(--cor4);
    text-align: center;
    min-height: 150px; 
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));/* coloca o gradiente que vai de baixo para cima*/
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.356);
}

header > p {
    font-family: var(--fonte-padrao);
    color: white;
    font-size: 1.2em;
    max-width: 600px; /* qdo coloca dimensoes, essa parte vira um bloco, dai tem q configurar esses espaços que estao abaixo*/
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.356);

}
nav {
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s; /* abre aquela sensação de menu*/
}
nav > a:hover {
    background-color: var(--cor3); /* qdo passa o mouse cria essas configurações */
    color: var(--cor5)
}

main { /* esses width definem em qto fica a tela com conteudo, qdo chega nesse valor, o conteudo permanece e abrem bordas nas laterais*/
    min-width: 300px;
    max-width: 1000px;
    margin: auto; /* deixa o conteudo sempre no centro, conforme aumenta e diminui a tela*/
    margin-bottom: 30px; /* margem do final do conteudo*/
    background-color: white;
    padding: 20px;
    box-shadow: 0 px 0px 10px rgba(0, 0, 0, 0.445); /* fazer sombra ao redor*/
    border-bottom-left-radius: 10px;/* forcei somente as bordas de baixo a ficar arredondadas */
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px 15px 0px; /*dava pra deixar 15px 0px, pois sao em pares... a ordem é igual os ponteiros do relogio */
    text-align: justify;
    text-indent: 30px; /* largura do paragrafo*/
    font-size: 1em;
    line-height: 2em; /* espaçamento entre linhas*/
}
main strong {
    color: var(--cor4);
    font-weight: bold; 
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%; /* a imagem pega toda a tela*/
}

main img.pequena {
    max-width: 350px; /* forço a imagem ficar nessas dimensoes, pois se deixar muito grande a imagem comeca a ficar embaçada*/
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
}

aside > h3 {
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius:  10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /* contrabarra: alt+92... codigo 2714 é simbolo de check e o 00A0 é um espaco sem quebra de linha*/
    list-style-position: inside; /* os simbolos da lista fica para dentro do bloco*/
    columns: 2;

}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}